* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color:  #171e31;
}

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-news-card {
  background-color: white;
  box-shadow: 2px 2px 8px #5050508e;
  width: 85%;
  height: 90vh;
  border-radius: 10px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  color: #12192C;
}

.create-news-card h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 2;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
}

.create-news-card label {
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  color: #12192ce1;

  display: flex;
  align-items: center;
}

.input-block,
.img-block,
.textarea-block {
  margin: 1rem;
}


.create-news-card .input-block input,
.textarea-block textarea  {
  width: 50%;

  border-radius: 5px;
  border: none;
  border-left: 2px solid  #12192c67;
  outline: none;
  
  padding: 1.3rem;
  font-size: 1.2rem;
  color: #12192cfa;
}

.create-news-card .input-block input {
  font-weight: 700;
}

.create-news-card .input-block input:focus,
.textarea-block textarea:focus {
  transition: ease .4s;
  border-left: 2px solid #12192cb6;
}

.textarea-block textarea {
  width: 60%;
  min-height: 200px;
}

.btn-submit {
  display: flex;
  justify-content: center;
}

.img-block input {
  border-radius: 15px;
  margin: 1rem;
}

.create-news-card .btn-submit input {
  width: 60%;
  height: 50px;

  background-color: #0C5DF4;
  border-radius: 15px;
  border: none;

  color: #ffff;
  text-transform: uppercase;
}

.create-news-card .btn-submit input:hover {
  transition: ease .3s;
  cursor: pointer;
  background-color: #12192C;
}