@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

footer {
    background-color: #424455;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:  #c9c9c9;
}

footer {
    margin-top: 10rem;
    left: 0;
    bottom: 0 !important;
    width: 100%;
    min-height: 15vh;
  }
  

.up-section ul {
    margin: 0px;
    padding: 0 20px;
}

.up-section h1{
    font-size: 2rem;
}

.up-section {
    display: flex;
    justify-content: space-between;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.up-section ul li p {
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 300;
}

.social-media a i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:  #4a4d61;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }

.social-media a i:hover {
    background-color:  #535669;
}


.social{
    padding: 2rem 2rem;
}
