<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/logo.png" />
    <link rel="stylesheet" href="../../css/create-news.css">
    <title>Cadastro de Notícia | ACATILS</title>
</head>

<body>
    <div class="container">
        <div class="create-news">
            <form action="index.html" autocomplete="off" class="form">
                <h3 class="title">Cadastro de notícia</h3>
                <div class="input-container">
                    <input type="text" name="title" class="input" placeholder="Título" />
                </div>
                <div class="input-container">
                    <input type="email" name="subtitle" class="input" placeholder="Subtítulo" />
                </div>
                <div class="input-container">
                    <input type="text" name="category" class="input" placeholder="Categoria" />
                </div>
                <div class="input-container">
                    <input type="text" name="image-news" class="input" placeholder="Imagens" />
                </div>
                <div class="input-container textarea">
                    <textarea name="text_news" class="input" placeholder="Texto"></textarea>
                </div>
                <input type="submit" value="Cadastrar" class="btn" />
            </form>
        </div>
    </div>
    </div>
</body>

</html>