  form {
    padding: 2rem;
  }

  .form {
    max-width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 8;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .contact-form {
    background-color: #009726;
    position: relative;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #009726;
    transform: rotate(45deg);
    top: -13px;
    left: initial;
    right: 70px;
  }
  
  #form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .input-container {
    position: relative;
    margin: 2rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.4rem 0.8rem;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 180px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input::-webkit-input-placeholder {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .input:-ms-input-placeholder {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .btn {
    padding: .5rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 1rem;
    color: #009726;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .text {
    margin: 1.2rem 0 0.5rem 0;
  }

  .title {
      color: #fff;
  }
  
  .information {
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    padding: 0.1rem;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .address {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  #map {
    margin-bottom: 0 !important;
    height: 300px;
  }
  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
      margin-top: 2rem;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container-contact {
      padding: 0;
    }
  
    .contact-info:before {
      display: none;
    }
    
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 1rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }
  