{% extends 'base.html' %}

{% block title %} Quem Somos {% endblock %}
{% block title_header %} Quem Somos {% endblock %}
{% block title_link %} Quem Somos {% endblock %}

{% block content %}
<div style="font-size: 3.5rem;">
<p>A Federação Brasileira das Associações dos Profissionais Tradutores e Intérpretes e Guia-Intérpretes de Língua de Sinais – Febrapils é uma entidade profissional autônoma, sem fins lucrativos ou econômicos, fundada em 22 de setembro de 2008, de duração indeterminada, com personalidade jurídica de direito privado, qualificável como de interesse público e pertencente ao território brasileiro.</p>

<p>Essa entidade tem a função de orientar, apoiar e consolidar as Associações de Tradutores, Intérpretes e Guia-intérpretes de Língua de Sinais (APILS), buscando realizar um trabalho de parceria em defesa dos interesses da categoria de tradutores, intérpretes e guia-intérpretes de língua de sinais (TILS).</p>
    
<p>A Febrapils atua sob três grandes pilares: a formação inicial e continuada dos TILS; a profissionalização para refletir sobre a atuação dos TILS à luz do código de conduta e ética; e o engajamento político dos TILS para construir uma consciência coletiva. Dessa maneira, a Febrapils compreende que os laços de parceira e proximidade com a comunidade surda são fundamentais, no sentido de garantir um serviço de excelência de tradução e interpretação de língua de sinais às pessoas surdas.</p>
    
<p>Com o propósito de informar à sociedade brasileira, a Febrapils realizou uma Assembleia Geral Extraordinária no dia 31 de agosto de 2019 na cidade de Brasília – Distrito Federal. Na ocasião foram eleitos os membros da nova Diretoria e do Conselho Fiscal para o quadriênio 2019-2022.</p>
</div>
{% endblock %}