{% load static %}

{% include 'meta-tags.html' %}

<!-- Website Title -->
<title>{% block title %}{% endblock %} | ACATILS </title>

{% include 'link-imports.html' %}

<style>
    p {
        font-size: 1rem;
    }
        {% block css %}
        {% endblock %}
</style>
</head>

{% include 'navbar.html' %}

<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% block title_header %}{% endblock %}</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="{% url 'index' %}">Home</a> >> <span>{% block title_link %}{% endblock %}</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="text-container">
                    {% block content %}
                    {% endblock %}
                </div> <!-- end of text-container-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-2 -->

    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- end of footer -->