{% extends 'base.html' %}

{% block title %} Documentos {% endblock %}
{% block title_header %} Documentos {% endblock %}
{% block breadcrumbs %} <a href="{% url 'index' %}">Home</a> >> <span> Documentios</span> {% endblock %}

{% block css %}
    h3 {
        margin-top: 1.5rem;
    }
    a {
        font-size: 1rem;
    }
{% endblock %}

{% block content %}
        <h3>Documentos Institucionais</h3>
        <a href="#">Estatuto Social – Febrapils (2016)</a><br>
        <a href="#">Código de Conduta e Ética – Febrapils</a>

        <h3>Notas Emitidas</h3>
        <a href="#">Nota de Congratulação ao Tribunal de Justiça do Estado de Tocantis
            (TJTO)</a><br>
        <a href="#">Nota Técnica Nº 04 /2020 - </a>
        <p>Nota Técnica sobre <b> Interpretação Simultânea Remota</b> para Língua Brasileira De Sinais</p>

        <a href="#">Febrapils emite Carta Aberta</a>
        <p>aos Tradutores, Intérpretes, e Guia-intérpretes de todo o país a respeito da COVID-19 – <b>o novo
                Coronavírus</b></p>
        <a href="#">Nota Técnica Nº 01/ 2017</a>
        <p>– A Atuação do Tradutor, Intérprete e Guia-Intérprete de Libras e Língua Portuguesa em <b>Materiais
                Audiovisuais Televisivos e Virtuais</b></p>

        <a href="#">Nota Técnica Nº 02/ 2017</a>
        <p>– Nota Técnica sobre a contratação do serviço de Interpretação de Libras/Português e Profissionais
            Intérpretes de Libras/Português – <b>Revezamento e Trabalho em Equipe</b></p>
        <a href="#">Nota Pública 2019</a>
        <p>– Sobre realização de <b>Concursos e Seleções</b> para provimento de cargos de Tradutores e Intérpretes de
            Libras em Instituições Públicas: Perfil Profissional, Cargo, Realização de <b> Exame Prático, Composição de
                Bancas Examinadoras, e Editais</b></p>
        <a href="#">Nota Pública 2019</a>
        <p>– Sobre o <b>cadastramento de Tradutores e Intérpretes e Guia-Intérpretes voluntários </b>para atuação em
            tribunais e fóruns. FEBRAPILS- FENEIS- Colaboração Tilsjur/UFSC</p>


        <h3>Declarações</h3>
        <ul class="list-unstyled li-space-lg">
            <li class="media">
                <div class="media-body"> <a
                        href="https://drive.google.com/file/d/1bZeLgE1RML8tjoVNg8_JFYaNpMYyV0Hp/view">Diretrizes para a promoção
                        do
                        acesso à informação sobre saúde pública na(s) língua(s) de sinais nacional(is) durante a Pandemia do
                        Coronavírus</a></div>
            </li>
            <li class="media">
                <div class="media-body"><a
                        href="https://drive.google.com/file/d/1VgC3bQ6sO1RXvJ3oZb59iQvC_Q_Tgr6C/view?usp=drive_open">Declaração
                        conjunta da WFD e da WASLI sobre o acesso a serviços de Saúde, e sobre a Saúde Ocupacional dos
                        intérpretes
                        durante os esforços de contenção do Coronavírus (Covid-19)</a></div>
            </li>
            <li class="media">
                <div class="media-body"> <a href="https://drive.google.com/file/d/0B3eZNKrWC6hcWHdSQzdrR3lDUk0/view">Declaração
                        do I Fórum dos
                        Tradutores e Intérpretes de Língua de Sinais das Instituições Federais de Ensino</a></div>
            </li>
            <li class="media">
                <div class="media-body"><a href="https://drive.google.com/file/d/0B7ZxCOYQ0QJmaURsVEF2MlllX1U/view">Declaração
                        do III Encontro Latino
                        Americano de Tradutores e Intérpretes de Língua de Sinais e Guia-Intérpretes para Surdocego
                        (Elatils)</a></div>
            </li>
            <li class="media">
                <div class="media-body"><a
                        href="http://febrapils.org.br/wp-content/uploads/2018/11/Direitos-Humanos-das-Pessoas-Surdas.pdf">Direitos
                        Humanos das Pessoas Surdas: Pela Equidade Social Cultural e Linguística</a></div>
            </li>
        </ul>
{% endblock %}