<!-- News -->
<div id="about" class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Notícias</h2>
                <p class="p-heading p-large">Confira as novidades da Acatils é uma entidade profissional autônoma, sem
                    fins lucrativos ou econômicos, fundada em 22 de setembro de 2008, de duração indeterminada.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->

        <!-- news -->
        <div class="basic-1">
            <div class="container">
                <div class="row">

                    <!-- news 1 -->
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>Design And Plan Your Business Growth Steps</h2>
                            <p>Use our staff and our expertise to design and plan your business growth strategy. Evolo
                                team is eager to advise you on the best opportunities that you should look into</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">Ver Mais</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <!-- end of news 1 -->

                    <!-- news 1 -->
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>Design And Plan Your Business Growth Steps</h2>
                            <p>Use our staff and our expertise to design and plan your business growth strategy. Evolo
                                team is eager to advise you on the best opportunities that you should look into</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">Ver Mais</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <!-- end of news 1 -->

                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-1 -->
        <!-- end of news -->



    </div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of about -->