{% load static %}

{% include 'meta-tags.html' %}

<!-- Website Title -->
<title>{% block title %} {%endblock %}| ACATILS </title>

{% include 'link-imports.html' %}

<style>
    p {
        font-size: 1rem;
    }
    .category {
        font-weight: 700;
        width: 15%;
        text-align: center;
        border-radius: 22px;
    }
    .social-icon {
        width: 32px;
    }
    .social-icon:hover {
        transition: ease .3s;
        opacity: .7;
    }
</style>
</head>

{% include 'navbar.html' %}

    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{% block title_header %} {%endblock %}</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        {% block breadcrumbs %} {% endblock %}
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- end of footer -->


