{% extends 'base.html' %}

{% block title %} Valores de Referência {% endblock %}
{% block title_header %} Valores de Referência {% endblock %}
{% block title_link %} Valores de Referência {% endblock %}

<!-- {% block css %}
    h3 { 
        margin-top: 1.5rem;
    }
    a {
        font-size: 1rem;
    }
{% endblock %}  -->

{% block content %}
<iframe style="width:100%; height:1000px;" src="//e.issuu.com/embed.html#32951283/59193281" frameborder="0" allowfullscreen=""></iframe>
{% endblock %} 