<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="icon" href="../images/logo.png" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title>Contato | ACATILS</title>
</head>

<body>
    <header>
        <div class="menu-container">
            <figure>
                <img src="/images/logo-header-no-background.png" alt="ACATILS logo">
            </figure>
            <div class="menu-section">
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">HOME</a>
                        </li>
                        <li>
                            <a href="quemsomos.html">QUEM SOMOS</a>
                        </li>
                        <li>
                            <a href="noticias.html">NOTÍCIAS</a>
                        </li>
                        <li>
                            <a href="valoresdereferencia.html">VALORES DE REFERÊNCIA</a>
                        </li>
                        <li>
                            <a href="documentos.html">DOCUMENTOS</a>
                        </li>
                        <li>
                            <a href="legislacao.html">LEGISLAÇÃO</a>
                        </li>
                        <li>
                            <a href="perguntasfrequentes.html">PERGUNTAS FREQUENTES</a>
                        </li>
                        <li>
                            <a href="contato.html">CONTATO</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container-contact">

        <div class="form">
            <div class="contact-info">
                <h3 class="title">Onde estamos</h3>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                    dolorum adipisci recusandae praesentium dicta!
                </p>

                <div class="social-media">
                    <p>Siga-nos nas redes sociais:</p>
                    <div class="social-icons">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>

                <div class="info">
                    <div class="information">
                        <img src="../images/email.png" class="icon" alt="E-mail" />
                        <p>acatils@gmail.com</p>
                    </div>

                    <div class="information">
                        <img src="../images/phone.png" class="icon" alt="Telefone" />
                        <p>(47) 3332 - 2233</p>
                    </div>

                    <div class="address">
                        <div class="information">
                            <img src="../images/map.png" class="icon" alt="Endereço" />
                            <p>Rua José Bonifácio, 378 - Estreito</p>
                        </div>
                        <div class="information">
                            <img src="../images/city.png" class="icon" alt="Cidade e Estado" />
                            <p>Florianópolis, Santa Catarina</p>
                        </div>
                        <div class="information">
                            <img src="../images/cep.png" class="icon" alt="CEP" />
                            <p>CEP: 88070-770</p>
                        </div>
                    </div>
                </div>

                <div id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3536.0908184674936!2d-48.590760984449496!3d-27.590713828467077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x952737da063a1455%3A0xfbfb92effbf582e4!2sR.%20Jos%C3%A9%20Bonif%C3%A1cio%2C%20378%20-%20Estreito%2C%20Florian%C3%B3polis%20-%20SC%2C%2088070-770!5e0!3m2!1spt-BR!2sbr!4v1606607488654!5m2!1spt-BR!2sbr"
                        width="100%" height="220px" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

            <div class="contact-form">
                <form action="index.html" autocomplete="off">
                    <h3 class="title">Contate-nos</h3>
                    <div class="input-container">
                        <input type="text" name="name" class="input" placeholder="Nome"/>
                    </div>
                    <div class="input-container">
                        <input type="email" name="email" class="input" placeholder="E-mail"/>
                    </div>
                    <div class="input-container">
                        <input type="text" name="assunto" class="input" placeholder="Assunto"/>
                    </div>
                    <div class="input-container textarea">
                        <textarea name="message" class="input" placeholder="Mensagem"></textarea>
                    </div>
                    <input type="submit" value="Enviar" class="btn" />
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="up-section">

            <a href="#" class="f-logo">ACATILS</a>
            <ul>
                <li>
                    <a href="index.html">HOME</a>
                  </li>
                  <li>
                    <a href="quemsomos.html">QUEM SOMOS</a>
                  </li>
                  <li>
                    <a href="#">NOTÍCIAS</a>
                  </li>
                  <li>
                    <a href="valoresdereferencia.html">VALORES DE REFERÊNCIA</a>
                  </li>
                  <li>
                    <a href="documentos.html">DOCUMENTOS</a>
                  </li>
                  <li>
                    <a href="legislacao.html">LEGISLAÇÃO</a>
                  </li>
                  <li>
                    <a href="perguntasfrequentes.html">PERGUNTAS FREQUENTES</a>
                  </li>
                  <li>
                    <a href="contato.html">CONTATO</a>
                  </li>
            </ul>

            <ul>
                <h1>CONTATO</h1>
                <li>
                    <li><p>(47) 3332-3322</p></li>
                    <li><p>Rua José Bonifácio, 378 - Estreito, Florianópolis/SC </p></li>
                </li>
            </ul>
        </div>

        <div class="down-section">
        </div>
        <div class="social">
            <h1>Mídias Sociais</h1>
            <div class="social-icons">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>

            <div class="search">
                <h1>Email</h1>
                
            </div>
       


        </div> 
    </footer>
    <script src="../js/script.js"></script>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>

</html>