<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="icon" href="../images/logo.png" />
  <title>Legislação | ACATILS</title>
</head>

<body>
  <header>
    <div class="menu-container">
      <a href="index.html">
        <figure>
          <img src="/images/logo-header-no-background.png" alt="Portal ACATILS" />
        </figure>
      </a>
      <div class="menu-section">
        <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <nav>
          <ul>
            <li>
              <a href="index.html">HOME</a>
            </li>
            <li>
              <a href="quemsomos.html">QUEM SOMOS</a>
            </li>
            <li>
              <a href="noticias.html">NOTÍCIAS</a>
            </li>
            <li>
              <a href="valoresdereferencia.html">VALORES DE REFERÊNCIA</a>
            </li>
            <li>
              <a href="#">DOCUMENTOS</a>
            </li>
            <li>
              <a href="legislacao.html">LEGISLAÇÃO</a>
            </li>
            <li>
              <a href="perguntasfrequentes.html">PERGUNTAS FREQUENTES</a>
            </li>
            <li>
              <a href="contato.html">CONTATO</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="title-wrapper">
      <h1>DOCUMENTOS</h1>
    </div>
    <div class="container">
      <section class="documents">
        <h2>DOCUMENTOS INSTITUCIONAIS</h2>
        <div class="documents-item"><a href="#">Estatuto Social – Febrapils (2016)</a><br></div>
        <div class="documents-item"><a href="#">Código de Conduta e Ética – Febrapils</a></div>

        <h2>NOTAS EMITIDAS</h2>
        <div class="documents-item"><a href="#">Nota de Congratulação ao Tribunal de Justiça do Estado de Tocantis
            (TJTO)</a><br></div>
        <div class="documents-item"><a href="#">Nota Técnica Nº 04 /2020 - </a>
          <p>Nota Técnica sobre <b> Interpretação Simultânea Remota</b> para Língua Brasileira De Sinais</p>
        </div>
        <div class="documents-item"></div><a href="#">Febrapils emite Carta Aberta</a>
        <p>aos Tradutores, Intérpretes, e Guia-intérpretes de todo o país a respeito da COVID-19 – <b>o novo
            Coronavírus</b></p>
        <div class="documents-item"><a href="#">Nota Técnica Nº 01/ 2017</a>
          <p>– A Atuação do Tradutor, Intérprete e Guia-Intérprete de Libras e Língua Portuguesa em <b>Materiais
              Audiovisuais Televisivos e Virtuais</b></p>
        </div>
        <div class="documents-item"><a href="#">Nota Técnica Nº 02/ 2017</a>
          <p>– Nota Técnica sobre a contratação do serviço de Interpretação de Libras/Português e Profissionais
            Intérpretes de Libras/Português – <b>Revezamento e Trabalho em Equipe</b></p>
        </div>
        <div class="documents-item"><a href="#">Nota Pública 2019</a>
          <p>– Sobre realização de <b>Concursos e Seleções</b> para provimento de cargos de Tradutores e Intérpretes de
            Libras em Instituições Públicas: Perfil Profissional, Cargo, Realização de <b> Exame Prático, Composição de
              Bancas Examinadoras, e Editais</b></p>
        </div>
        <div class="documents-item"><a href="#">Nota Pública 2019</a>
        <p>– Sobre o <b>cadastramento de Tradutores e Intérpretes e Guia-Intérpretes voluntários </b>para atuação em
          tribunais e fóruns. FEBRAPILS- FENEIS- Colaboração Tilsjur/UFSC</p></div>
        <div class="declarations">
          <h2>DECLARAÇÕES</h2>
          <a href="https://drive.google.com/file/d/1bZeLgE1RML8tjoVNg8_JFYaNpMYyV0Hp/view">Diretrizes para a promoção do
            acesso à informação sobre saúde pública na(s) língua(s) de sinais nacional(is) durante a Pandemia do
            Coronavírus</a>
          <a href="https://drive.google.com/file/d/1VgC3bQ6sO1RXvJ3oZb59iQvC_Q_Tgr6C/view?usp=drive_open">Declaração
            conjunta da WFD e da WASLI sobre o acesso a serviços de Saúde, e sobre a Saúde Ocupacional dos intérpretes
            durante os esforços de contenção do Coronavírus (Covid-19)</a>
          <a href="https://drive.google.com/file/d/0B3eZNKrWC6hcWHdSQzdrR3lDUk0/view">Declaração do I Fórum dos
            Tradutores e Intérpretes de Língua de Sinais das Instituições Federais de Ensino</a>
          <a href="https://drive.google.com/file/d/0B7ZxCOYQ0QJmaURsVEF2MlllX1U/view">Declaração do III Encontro Latino
            Americano de Tradutores e Intérpretes de Língua de Sinais e Guia-Intérpretes para Surdocego (Elatils)</a>
          <a href="http://febrapils.org.br/wp-content/uploads/2018/11/Direitos-Humanos-das-Pessoas-Surdas.pdf">Direitos
            Humanos das Pessoas Surdas: Pela Equidade Social Cultural e Linguística</a>
        </div>
      </section>
  </main>
  <footer>
    <div class="footer-container">
      <div class="social-media">
        <h3>MÍDIAS SOCIAS</h3>
        <hr>

      </div>
      <div class="contact">
        <h3>CONTATO</h3>
        <hr>
      </div>
    </div>
  </footer>
  <script src="../js/script.js"></script>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget("https://vlibras.gov.br/app");
  </script>
</body>

</html>