<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="images/logo.png" />
    <title>Home | ACATILS</title>
</head>

<body>
    <header>
        <div class="menu-container">
            <a href="index.html">
                <figure>
                    <img src="/images/logo-header-no-background.png" alt="Portal ACATILS">
                </figure>
            </a>
            <div class="menu-section">
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">HOME</a>
                        </li>
                        <li>
                            <a href="quemsomos.html">QUEM SOMOS</a>
                        </li>
                        <li>
                            <a href="noticias.html">NOTÍCIAS</a>
                        </li>
                        <li> 
                            <a href="valoresdereferencia.html">VALORES DE REFERÊNCIA</a>
                        </li>
                        <li>
                            <a href="documentos.html">DOCUMENTOS</a>
                        </li>
                        <li>
                            <a href="legislacao.html">LEGISLAÇÃO</a>
                        </li>
                        <li>
                            <a href="perguntasfrequentes.html">PERGUNTAS FREQUENTES</a>
                        </li>
                        <li>
                            <a href="contato.html">CONTATO</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <script src="js/script.js"></script>
        <footer>
        <div class="footer-container">

        </div>
    </footer>
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
</body>

</html>