<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="images/logo.png" />
    <title>Legislação | ACATILS</title>
  </head>

  <body>
    <header>
      <div class="menu-container">
        <a href="index.html">
          <figure>
            <img
              src="/images/logo-header-no-background.png"
              alt="Portal ACATILS"
            />
          </figure>
        </a>
        <div class="menu-section">
          <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
          <nav>
            <ul>
              <li>
                <a href="index.html">HOME</a>
              </li>
              <li>
                <a href="quemsomos.html">QUEM SOMOS</a>
              </li>
              <li>
                <a href="noticias.html">NOTÍCIAS</a>
              </li>
              <li>
                <a href="valoresdereferencia.html">VALORES DE REFERÊNCIA</a>
              </li>
              <li>
                <a href="documentos.html">DOCUMENTOS</a>
              </li>
              <li>
                <a href="legislacao.html">LEGISLAÇÃO</a>
              </li>
              <li>
                <a href="perguntasfrequentes.html">PERGUNTAS FREQUENTES</a>
              </li>
              <li>
                <a href="contato.html">CONTATO</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="title-wrapper">
        <h1>LEGISLAÇÃO</h1>
      </div>
      <div class="container">
      <section class="legislation">
          <h2>
            <a
              target="_blank"
              href="http://www.planalto.gov.br/ccivil_03/leis/2002/l10436.htm"
              >LEI Nº 10.436, DE 24 DE ABRIL DE 2002.
            </a>
          </h2>
          <p>
            Dispõe sobre a Língua Brasileira de Sinais – Libras e dá outras
            providências.
          </p>
          <h2>
            <a
              target="_blank"
              href="http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2005/decreto/d5626.htm"
              >DECRETO Nº 5.626, DE 22 DE DEZEMBRO DE 2005.
            </a>
          </h2>
          <p>
            Regulamenta a Lei no 10.436, de 24 de abril de 2002, que dispõe
            sobre a Língua Brasileira de Sinais – Libras, e o art. 18 da Lei no
            10.098, de 19 de dezembro de 2000.
          </p>
          <h2>
            <a
              target="_blank"
              href="http://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2010/Lei/L12319.htm"
              >LEI Nº 12.319, DE 1º DE SETEMBRO DE 2010.
            </a>
          </h2>
          <p>
            Regulamenta a profissão de Tradutor e Intérprete da Língua
            Brasileira de Sinais – LIBRAS.
          </p>
          <h2>
            <a
              target="_blank"
              href="http://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2010/Msg/VEP-532-10.htm"
              >MENSAGEM [DE VETO] Nº 532, DE 1º DE SETEMBRO DE 2010.
            </a>
          </h2>
          <p>
            Motivos pelos quais alguns dos artigos da Lei Nº 12.319 foram
            vetados.
          </p>
          <h2>
            <a
              target="_blank"
              href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13146.htm"
              >LEI Nº 13.146, DE 6 DE JULHO DE 2015.
            </a>
          </h2>
          <p>
            Institui a Lei Brasileira de Inclusão da Pessoa com Deficiência
            (Estatuto da Pessoa com Deficiência).
          </p>
          <p>
            Determina que: “Os tradutores e intérpretes da Libras atuantes na
            educação básica devem, no mínimo, possuir ensino médio completo e
            certificado de proficiência na Libras; [e que] os tradutores e
            intérpretes da Libras, quando direcionados à tarefa de interpretar
            nas salas de aula dos cursos de graduação e pós-graduação, devem
            possuir nível superior, com habilitação, prioritariamente, em
            Tradução e Interpretação em Libras.”
          </p>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">aqui jaz o footer</div>
    </footer>
    <script src="js/script.js"></script>
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget("https://vlibras.gov.br/app");
    </script>
  </body>
</html>
