{% load static %}
<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>A ACATILS</h2>
                <p class="p-heading p-large">
                    é uma entidade profissional autônoma, sem fins lucrativos ou econômicos,
                    fundada em 22 de setembro de 2008, de duração indeterminada, com personalidade jurídica de direito
                    privado, qualificável como de interesse público e pertencente ao território brasileiro.
                </p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <img class="card-image" style="width: 45px;" src="{% static 'img/mission.svg' %}" alt="Missão">
                    <div class="card-body">
                        <h4 class="card-title">Missão</h4>
                        <p>
                            Orientar, defender e representar o conjunto das Associações Profissionais Tradutores e
                            Intérpretes e Guia-intérpretes de Língua de Sinais e dos Departamentos de Tradutores e
                            Intérpretes e Guia-intérpretes de Língua de Sinais, criados no âmbito das instituições
                            representativas da comunidade surda e/ou surdocega.
                        </p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <img class="card-image" style="width: 45px;" src="{% static 'img/vision.svg' %}" alt="Visão">
                    <div class="card-body">
                        <h4 class="card-title">Visão</h4>
                        <p>
                            A Febrapils atua sob três grandes pilares: a formação inicial e continuada dos TILS; a
                            profissionalização para refletir sobre a atuação dos TILS à luz do código de conduta e
                            ética; e o engajamento político dos TILS para construir uma consciência coletiva.
                        </p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <img class="card-image" style="width: 75px;" src="{% static 'img/values.svg' %}" alt="Valores">
                    <div class="card-body">
                        <h4 class="card-title">Valores</h4>
                        <p>
                            A Febrapils compreende que os laços de parceria e proximidade com a comunidade surda são
                            fundamentais, no sentido de garantir um serviço de excelência de tradução e interpretação de
                            língua de sinais às pessoas surdas, e valorizar o trabalho de tradutores, intérpretes e
                            guia-intérpretes de Libras.
                        </p>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->