{% extends 'base.html' %}
{% load static %}

{% block title %} Contate-nos {% endblock %}
{% block title_header %} Contato {% endblock %}
{% block breadcrumbs %} <a href="{% url 'index' %}">Home</a> >> <span> Contato </span> {% endblock %}

{% block content %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <h6 class="alert-heading">{{ message }}</h6>
                        <button type="button" class="close alert-heading" id="close-btn" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            {% endfor %}
        {% endif %}
    
      

<div class="container" >
    <div class="form" id="form">
        <div class="contact-info">
            <h2>Onde estamos</h2>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                dolorum adipisci recusandae praesentium dicta!
            </p>

            <div class="info">
                <div class="information">
                    <a href="mailto:acatils@gmail.com">
                        <img src="{% static 'img/email.png' %}" class="icon" alt="E-mail" />
                    </a>
                    <span>acatils@gmail.com</span>
                </div>
                <div class="information">
                    <a href="tel:554733332222">
                        <img src="{% static 'img/phone.png' %}" class="icon" alt="Telefone" />
                    </a>
                    <span>+55 (48) 9169-0268</span>
                </div>
            
                    <div class="social-media">
                        <span>Acompanhe-nos nas redes sociais:</span>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/ACATILS-112968902115973/" target="_blank">
                                <img class="social-icon" src="{% static 'img/facebook.svg' %}" alt="Página no Facebook da Acatils">
                            </a>
                            <a href="https://www.youtube.com/channel/UCJgGXUfexmil_7MvjcfMKJA" target="_blank">
                                <img class="social-icon" src="{% static 'img/youtube.svg' %}" alt="Canal no Youtube da Acatils">
                            </a>
                            <a href="https://www.instagram.com/acatils.comunicacao/" target="_blank">
                                <img class="social-icon" src="{% static 'img/instagram.svg' %}" alt="Instagram da Acatils">
                            </a>
                            <a href="https://twitter.com/acatils" target="_blank">
                                <img class="social-icon" src="{% static 'img/twitter.svg' %}" alt="Página no Twitter da Acatils">
                            </a>
                            <a href="https://api.whatsapp.com/send?phone=554891690268&text=Ol%C3%A1!" target="_blank">
                                <img class="social-icon" src="{% static 'img/whatsapp.svg' %}" alt="Whatsapp da Acatils">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-form">
            <form  action="{% url 'contact' %}" method="post" autocomplete="on" id="contact_form">
                {% csrf_token %}
                <h2 class="title">Contate-nos</h2>
                <div class="input-container">
                    <input type="text" name="name" class="input" placeholder="Nome" required />
                </div>
                <div class="input-container">
                    <input type="email" name="email" class="input" placeholder="E-mail" required />
                </div>
                <div class="input-container">
                    <input type="text" name="subject" class="input" placeholder="Assunto"required />
                </div>
                <div class="input-container textarea">
                    <textarea name="message" class="input" placeholder="Mensagem" required></textarea>
                </div>
                <input type="submit" value="Enviar" class="btn" id="btnSubmit" />
            </form>
        </div>
    </div>
</div>
{% endblock %}