{% load static %}
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-col">
                            <form action="{% url 'search' %}"method="get" autocomplete="off">
                                {% csrf_token %}
                                    <div class="search-footer">
                                        <input type="text" name="search" placeholder="Pesquisar no site" class="input-f" autocomplete="off">
                                        <button type="submit" class="btn-f">
                                            <img style="width: 17px;" class="social-icon" src="{% static 'img/search.svg'%}" alt="Pesquisar no site">
                                        </button>
                                    </div>
                            </form>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-md-4">
                        <div class="footer-col middle">
                            <h4>Important Links</h4>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Our business partners <a class="turquoise"
                                            href="#your-link">startupguide.com</a></div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms &
                                            Conditions</a>, <a class="turquoise" href="privacy-policy.html">Privacy Policy</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                     </div><!-- end of col -->
                    <div class="col-md-4">
                        <div class="footer-col last">
                            <h4>Mídias Sociais</h4>
                            <span>
                                <a target="_blank" href="#your-link">
                                    <img class="social-icon" src="{% static 'img/facebook.svg' %}" alt="Página no Facebook da Acatils">
                                </a>
                            </span>
                            <span>
                                <a target="_blank" href="#your-link">
                                    <img class="social-icon" src="{% static 'img/twitter.svg' %}" alt="Página no Twitter da Acatils">
                                </a>
                            </span>
                            <span>
                                <a target="_blank" href="#your-link">
                                    <img class="social-icon" src="{% static 'img/whatsapp.svg' %}" alt="Whatsapp da Acatils">
                                </a>
                            </span>
                            <span>
                                <a target="_blank" href="#your-link">
                                    <img class="social-icon" src="{% static 'img/youtube.svg' %}" alt="Canal no Youtube da Acatils">
                                </a>
                            </span>
                            <span>
                                <a target="_blank" href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->

        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © 2020 Acatils - Todos os direitos reservados
                        </p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright -->
        <!-- end of copyright -->

        <!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
        <script src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- jQuery Easing for smooth scrolling between anchors -->
        <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
        <script src="{% static 'js/validator.min.js' %}"></script>
        <!-- Validator.js' %} - Bootstrap plugin that validates forms -->
        <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
</body>

</html>