{% load static %}

<!-- Header -->
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-container">
            <div class="image-container">
              <img
                class="img-fluid"
                style="margin-bottom: 1rem"
                src="{% static 'img/logo-header.webp' %}"
                alt="alternative"
              />
            </div>
            <!-- <h1><span class="turquoise">StartUp Landing</span> Page Template Free</h1> -->
            <p class="p-large" style="text-align: center; margin-left: 2rem">
              Portal da Associação Catarinense de Tradutores e Intérpretes de
              Linguagem de Sinais
            </p>
            <a class="btn-solid-lg page-scroll" href="#services">DISCOVER</a>
          </div>
          <!-- end of text-container -->
        </div>
        <!-- end of col -->
        <div class="col-lg-6">
          <!-- <div class="image-container">
                            <img class="img-fluid" src="images/header-teamwork.svg" alt="alternative">
            </div> end of image-container -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of header-content -->
</header>
<!-- end of header -->
<!-- end of header -->
