<!-- News -->
<div id="about" class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Notícias</h2>
                <p class="p-heading p-large">Confira as novidades da Acatils é uma entidade profissional autônoma, sem
                    fins lucrativos ou econômicos, fundada em 22 de setembro de 2008, de duração indeterminada.</p>
            </div> 
        </div> 

        <!-- news -->
        <div class="basic-1">
            <div class="container">
                <div class="row">

                    {% for n in news|slice:'0:2' %}
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h3>{{ n.title }}</h3>
                            <p>{{ n.text|slice:'0:150'| safe}} ...</p>
                            <a class="btn-solid-reg" href="{{ n.get_absolute_url }}">Ver Mais</a>
                        </div>
                    </div>
                    {% endfor %}

                </div> 
            </div> 
        </div>
        <!-- end of news -->



    </div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of about -->