{% extends 'admin-base.html' %}

{% block title %} Notícias {% endblock %}

  {% block content %}
    <a href="{% url 'cadastrar_noticia' %}">Cadastrar</a>
    <section>
        {% for noticia in noticias %}
      <br>
            <h1>Título: {{ noticia.titulo }}</h1>
            <h2>Autor: {{ noticia.autor }}</h2>
            <h3>Texto: {{ noticia.texto }}</h3>
            <p>Criada em: {{ noticia.criado_em }}</p>
      <br>
        <a href="{% url 'editar-noticia' noticia.id %}">Ver mais</a>
      <hr>
        {% endfor %}
   </section>
 {% endblock %}




