{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/card.css'%}">
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
    <link rel="stylesheet" href="{% static 'css/table.css'%}">
    <link rel="icon" href="{% static 'images/logo.png' %}" />
    {% block links %}{% endblock %}
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %} | ACATILS</title>
</head>

<body>
    <header>
        <div class="menu-container">
            <figure>
                <img src="{% static 'images/logo-header-no-background.png' %}" alt="ACATILS logo">
            </figure>
            <div class="menu-section">
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="">HOME</a>
                        </li>
                        <li>
                            <a href="{% url 'quemsomos' %}">QUEM SOMOS</a>
                        </li>
                        <li>
                            <a href="{% url 'noticias' %}">NOTÍCIAS</a>
                        </li>
                        <li>
                            <a href="{% url 'valoresdereferencia' %}">VALORES DE REFERÊNCIA</a>
                        </li>
                        <li>
                            <a href="{% url 'documentos' %}">DOCUMENTOS</a>
                        </li>
                        <li>
                            <a href="{% url 'legislacao' %}">LEGISLAÇÃO</a>
                        </li>
                        <li>
                            <a href="{% url 'perguntasfrequentes' %}">PERGUNTAS FREQUENTES</a>
                        </li>
                        <li>
                            <a href="{% url 'contato' %}">CONTATO</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <div class="up-section">
            <div class="social">
                <h1>Mídias Sociais</h1>
                <div class="social-me">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/acatils">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>

            </div>
            <ul>
                <div class="info-footer">
                    <h1>Contato</h1>
                    <div class="information">
                        <a href="mailto:acatils@gmail.com" class="invert">
                            <img src="{% static 'images/email.png'%}" class="icon" alt="E-mail" />
                        </a>
                        <p>acatils@gmail.com</p>
                    </div>

                    <div class="information">
                        <a href="tel:554733332222" class="invert">
                            <img src="{% static 'images/phone.png'%}" class="icon" alt="Telefone" />
                        </a>
                        <p>(47) 3332 - 2233</p>
                    </div>

                    <div class="address-footer">
                        <div class="information">
                            <div class="invert">
                                <img src="{% static 'images/map.png'%}" class="icon" alt="Endereço" />
                            </div>
                            <p>Rua José Bonifácio, 378 - Estreito, Florianópolis/SC</p>
                        </div>
                        <div class="information">
                            <div class="invert">
                                <img src="{% static 'images/cep.png'%}" class="icon" alt="CEP" />
                            </div>
                            <p>CEP: 88070-770</p>
                        </div>
                    </div>
                </div>
            </ul>
            <div class="search-footer">
                <input type="text" name="search" placeholder="Digite sua busca aqui..." class="input-f" autocomplete="off">
                <button type="submit" class="btn-f">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="down-section">
            <hr>
            <a href="{% url 'login' %}">
                <img src="{% static 'images/key.png'%}" alt="Intranet">
            </a>
        </div>
        </div>
    </footer>
    {% block scripts %} {% endblock %}
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>

</html>