{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../images/logo.png" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create-news.css' %}" />
    <title>Cadastro de notícia | ACATILS</title>
  </head>
  <body id="body-pd">
    <div class="l-navbar" id="navbar">
      <nav class="nav">
        <div>
          <div class="nav__brand">
            <ion-icon
              name="menu-outline"
              class="nav__toggle"
              id="nav-toggle"
            ></ion-icon>
            <a href="#" class="nav__logo">ACATILS</a>
          </div>
          <div class="nav__list">
            <a href="{% url 'cadastrar_noticia' %}" class="nav__link active">
              <ion-icon name="home-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">Dashboard</span>
            </a>
            <a href="{% url 'mensagens' %}" class="nav__link">
              <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">Messenger</span>
            </a>

            <div class="nav__link collapse">
              <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">Projects</span>

              <ion-icon
                name="chevron-down-outline"
                class="collapse__link"
              ></ion-icon>

              <ul class="collapse__menu">
                <a href="#" class="collapse__sublink">Data</a>
                <a href="#" class="collapse__sublink">Group</a>
                <a href="#" class="collapse__sublink">Members</a>
              </ul>
            </div>

            <a href="#" class="nav__link">
              <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">Analytics</span>
            </a>
            <div class="nav__link collapse">
              <ion-icon name="people-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">Team</span>

              <ion-icon
                name="chevron-down-outline"
                class="collapse__link"
              ></ion-icon>

              <ul class="collapse__menu">
                <a href="#" class="collapse__sublink">Data</a>
                <a href="#" class="collapse__sublink">Group</a>
                <a href="#" class="collapse__sublink">Members</a>
              </ul>
            </div>
            <a href="#" class="nav__link">
              <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">Settings</span>
            </a>
          </div>
        </div>

        <a href="#" class="nav__link">
          <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
          <span class="nav__name">Log Out</span>
        </a>
      </nav>
    </div>

        <section class="form-content">
            <div class="create-news-card">
                <h1>Cadastro de Notícia</h1>
                <div class="input-block">
                    <label for="">Título</label>
                    <input type="text" placeholder="Digite o título aqui"/>
                </div>
                <div class="img-block">
                    <label for="">Imagens</label>
                    <input type="file" src="" alt="" accept="image/png, image/jpeg, image/jpg"  multiple/>
                </div>
                <div class="textarea-block">
                    <label for="">Texto</label>
                    <textarea type="text" placeholder="Digite o texto aqui"></textarea>
                </div>

                <div class="btn-submit">
                    <input type="submit" value="Salvar" />
                </div>
            </div>
    </section>
    <!-- ===== IONICONS ===== -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

    <script src="{% static 'js/sidebar.js' %}"></script>
  </body>
</html>
