@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  background-color: #424455;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #c9c9c9;
}

.footer {
  margin-top: 10rem;
  left: 0;
  bottom: 0 !important;
  width: 100%;
  min-height: 15vh;
}

.up-section ul {
  margin: 0px;
  padding: 0 20px;
}

.up-section h1 {
  font-size: 2rem;
  padding: 1.2rem;
}

.up-section {
  display: flex;
  justify-content: space-between;
  padding: 3% 0px;
  margin: 5px;
  width: 80%;
  flex-wrap: wrap;
}

.up-section ul li p {
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 300;
  display: inline;
}

.social-me a i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #4a4d61;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-me a i:hover {
  background-color: #535669;
}

.social{
  margin: 0 4rem 0;
}

footer .info-footer .information {
  color: #c9c9c9;
  text-decoration: none;
}

.down-section hr {
  margin: auto;
  width: 95%;
  border: 0.2px solid #c9c9c96b;
}

.down-section a img {
  padding: 1.2rem 4rem;
  opacity: 0.7;
  transition: ease 0.3s;
}

.invert {
  filter: invert(100%);
}

.info-footer a img,
.address-footer div img {
  opacity: 0.9;
}

.down-section a img:hover {
  opacity: 0.5;
}

.search-footer {
  padding: 5rem 0 0 0;
}

.input-f {
  padding: 1rem 1rem;
  background-color: transparent;
  color: #c9c9c9;
  border: 2px solid #fafafa;
  font-size: 1.4rem;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  width: 25rem;
}

.input-f::-webkit-input-placeholder {
  color: rgb(163, 163, 163);
  font-size: 1.5rem;
  font-weight: 300;
}

.input-f:-moz-placeholder {
  /* Firefox 18- */
  color: rgb(163, 163, 163);
  font-size: 1.5rem;
  font-weight: 300;
}

.input-f::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(163, 163, 163);
  font-size: 1.5rem;
  font-weight: 300;
}

.input-f:-ms-input-placeholder {
  color: rgb(163, 163, 163);
  font-size: 1.5rem;
  font-weight: 300;
}

.btn-f {
  border: none;
  background: none;
}

.search-footer button i {
  color: #c9c9c9;
  width: 32px;
  height: 32px;
  transition: ease 0.3s;
  cursor: pointer;
}

.search-footer button i:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
    .info-footer {
        margin: 3rem 2rem 2rem;
      }
      
    .search-footer {
          margin: 0 0 2rem 3rem;
    }
}

@media (max-width: 1230px) {
    .search-footer {
        margin-left: 4rem;
  }
}

@media (max-width: 410px) {
    .input-f {
        width: 18rem;
    }
}