{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">

    <!-- <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> -->
    <title>| ACATILS</title>
</head>
<body>
    <div class="teste">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
            <div>
                <div class="nav__brand">
                <ion-icon
                    name="menu-outline"
                    class="nav__toggle"
                    id="nav-toggle"
                ></ion-icon>
                <a href="#" class="nav__logo">ACATILS</a>
                </div>
                <div class="nav__list">
                <a href="#" class="nav__link active">
                    <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Dashboard</span>
                </a>
                <a href="#" class="nav__link">
                    <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Messenger</span>
                </a>
    
                <div class="nav__link collapse">
                    <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Projects</span>
    
                    <ion-icon
                    name="chevron-down-outline"
                    class="collapse__link"
                    ></ion-icon>
    
                    <ul class="collapse__menu">
                    <a href="#" class="collapse__sublink">Data</a>
                    <a href="#" class="collapse__sublink">Group</a>
                    <a href="#" class="collapse__sublink">Members</a>
                    </ul>
                </div>
    
                <a href="#" class="nav__link">
                    <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Analytics</span>
                </a>
                <div class="nav__link collapse">
                    <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Team</span>
    
                    <ion-icon
                    name="chevron-down-outline"
                    class="collapse__link"
                    ></ion-icon>
    
                    <ul class="collapse__menu">
                    <a href="#" class="collapse__sublink">Data</a>
                    <a href="#" class="collapse__sublink">Group</a>
                    <a href="#" class="collapse__sublink">Members</a>
                    </ul>
                </div>
                <a href="#" class="nav__link">
                    <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Settings</span>
                </a>
                </div>
            </div>
    
            <a href="#" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Log Out</span>
            </a>
            </nav>
        </div>

        <div class="container">

                <a class="btn-news-register" href="">
                    <div class="flex-box">
                    <!-- <img src="{% static 'img/plus.svg' %}" alt=""> -->
                    <span>Cadastrar notícia</span>
                </div>
                </a>

                {% include 'table-news.html' %}

        </div>
    </div>


      <script src="{% static 'js/sidebar.js' %}"></script>
      <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>