<table class="content-table">
    <caption>Statement Summary</caption>
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Data de publicação</th>
        <th scope="col">Autor</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Title">Visa - 3412</td>
        <td data-label="Published_date">04/01/2016</td>
        <td data-label="Author">$1,190</td>
        <td data-label="Category">03/01/2016 - 03/31/2016</td>
      </tr>
      <tr>
        <td scope="row" data-label="Title">Visa - 6076</td>
        <td data-label="Published_date">03/01/2016</td>
        <td data-label="Author">$2,443</td>
        <td data-label="Category">02/01/2016 - 02/29/2016</td>
      </tr>
      <tr>
        <td scope="row" data-label="Title">Corporate AMEX</td>
        <td data-label="Published_date">03/01/2016</td>
        <td data-label="Author">$1,181</td>
        <td data-label="Category">02/01/2016 - 02/29/2016</td>
      </tr>
      <tr>
        <td scope="row" data-label="Title">Visa - 3412</td>
        <td data-label="Published_date">02/01/2016</td>
        <td data-label="Author">$842</td>
        <td data-label="Category">01/01/2016 - 01/31/2016</td>
      </tr>
    </tbody>
  </table>
