{% extends 'base.html'%}
{% load static %}

{% block title %} Notícias {%endblock %}
{% block title_header %} Notícias {%endblock %}
{% block breadcrumbs %} <a href="{% url 'index' %}">Home</a> >> <span>Notícias</span> {% endblock %}

{% block content %}
                    {% for n in page_obj %}
                        {% include 'list-news.html' %}
                    {% endfor %}

                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
{% endblock %}